# Dependency directories
node_modules/

# Compiled outputs
dist/
app.js

# Firebase local configurations and cache
.firebase/
firestore-debug.log
ui-debug.log
firebase-debug.log

# System files
Thumbs.db
.DS_Store

# Log files
*.log
npm-debug.log*

# IDE settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
